{% extends "base.html" %}
{% load static %}

{% block css %}
     <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block modal_cart %}
{% include 'includes/cart_button.html' %}
{% endblock %}



{% block content %}
<div class="mt-5 pt bg-white custom-shadow rounded">
<!--    <h3 class="mt-5 pt-5"><strong>{{ content }}</strong></h3>-->
<!--    <p class="m-2">{{ text_on_page }}</p>-->

 <table width="100%"  cellspacing="15" cellpadding="15">
   <tr>
    <td width="50%" valign="top"><h3>Оплата</h3><br />
        <h5>Способы оплаты:</h5>
        <li>Оплата товара в отделении Новой Почты или Укрпочта при получении</li>
        <li>Оплата товара наличными или банковской картой в отделениях магазина</li>
        <li>При оплате наложенным платежом, покупатель оплачивает комиссию Новой Почты за перевод денег (2% от стоимости товара + 20грн)</li>
        <li>При оплате на расчетный счет нет дополнительных комиссий</li>
        <li>Реквизиты на оплату находятся на странице "Контактная информация"</li>
    </td>
       <td valign="top"><h3>Доставка</h3><br />
           <h5>Доставка по Украине:</h5>
           <li>Доставка товара осуществляется за счет покупателя по тарифам транспортных компаний Новая Почта и Укрпочта</li>

           <li>Бесплатная доставка на товары стоимостью от 7000грн</li>
           <li>Бесплатная доставка Укрпочтой для заказов на сумму от 1500грн (доступна не для всех товаров, подробности можно узнать у нашего менеджера)</li>
           <li>Бесплатная доставка осуществляется только в отделение/почтомат Новой Почты или Укрпочты</li>
           <li>Бесплатная доставка не действует для габаритной мебели (шкафы, комоды, кроватки)</li>
           <li>Бесплатная доставка не распространяется на товары со скидкой!</li>
           <li>При комплексных закупках, условия доставки обсуждаются с менеджером</li>
       </td>
   </tr>
  </table>

</div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Home DENY Studio 2024</p>
        </div>
    </footer>
{% endblock %}